
.task {
  align-items: center;
  border: 5px solid #fff;
  padding: 10px;

  &.completed {
    background-color: #f3fff3;
  }

  &.process {
    background-color: #fff1c7;
  }

  &.white {
    background-color: white;
  }

  &.active {
    border: 5px solid #a77272;
  }

}

.task_wrap_presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}