.avatar {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }

}