body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f6f9;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  width: 100%;
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}