
.wrap__popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  min-width: 400px;
  background-color: #fff;
  padding: 15px;
  padding-top: 25px;
  position: relative;
}

.close {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  
}

.createProject {
  padding: 7px 15px;
  cursor: pointer;
}