.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 450px;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;

  @media screen and (max-width: 600px) {
    width: 90%;
  }
}