
.logotype {
  font-size: 25px;
  color: black;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid rgba(255, 255,255,.9);
  margin-bottom: 15px;
}

.item {
  display: block;
  cursor: pointer;
  transition: all 100ms linear;

  &:hover {
    opacity: .7;
    background: #bfbfbf;
  }

}