.current__task {
  color: white;
  padding-right: 1em;
  align-items: center;
  display: flex;

  .task {
    font-weight: bold;
    display: inline-block;
    margin-right: 1.2em;
  }
}

.pause, .stop, .play {
  cursor: pointer;
  display: inline-block;
}


