
.header {
  height: 68px;
  background-color: #276AEB;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  &.start {
    justify-content: flex-start;
  }

  &.between {
    justify-content: space-between;
  }

}

.headerMenu {
  display: flex;
}

.logo {
  padding-left: 1em;
  font-size:  20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: white;
    opacity: 0.7;
  }

  span {
    display: inline-block;
    margin-left: 5px;
  }
}

.current__task {
  color: white;
  padding-right: 1em;
  align-items: center;
  display: flex;

  .task {
    font-weight: bold;
    display: inline-block;
  }
}

.pause, .stop, .play {
  cursor: pointer;
  display: inline-block;
}

.wrapMenu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 55px;
  right: 0;
}

.globalSearch {
  position: relative;
  width: 350px;
}
.search {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 3px 15px -6px #000000;
}

.searchItem {

}