
.wrapLogin {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(15,141,207);
  background: radial-gradient(circle, rgba(15,141,207,1) 0%, rgba(45,73,251,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  min-width: 450px;
}