
.completed {

}

.customRadio input[type="radio"] {
  display: none;
}

.customRadio label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
  margin-right: 1.5em;
}

.customRadio label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -6px;
  width: 21px;
  height: 21px;
  margin-top: -10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100%;
}

.customRadio input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -2px;
  width: 13px;
  height: 13px;
  margin-top: -6px;
  background: #276AEB;
  border-radius: 100%;
}

.listPriority {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.listWrapPriority {
  display: flex;
}